body{ /* Typselektor */
    background: beige; /* CSS deklaration*/
    margin:0;
    font-family: 'impact';
}

.wrapper{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:auto;
    grid-template-areas:
    'header header'
    'nav nav'
    'main main'
    'footer footer';
}





/* grid layout för elementen */

header{
    grid-area:header;
    text-align:center;
}
nav { 
    grid-area: nav;
}

.main_grid{ /* En klassselektor*/
    grid-area: main;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'main1 main2';
}
.main_index{
    grid-area:main;
    text-align:center;
}

footer{
    grid-area: footer;
    display:grid;
    grid-template-columns:1fr 1fr;
    background-color:darkslategray;
}

main.main_grid section:first-of-type{  /*En pseudoselektor*/
    grid-area: main1;

}
main.main_grid section:nth-child(2){
    grid-area: main2;

}



/*Göra nav att bli griddad*/
nav > ul {
    display:grid;
    grid-template-columns: auto auto auto 1fr;
    list-style-type:none;
    margin-left: 100px;

}
nav ul a {
    border:3px black double;
    font-size: 30px;
    margin-right:25px;
}





/*Text styling och det mesta för att göra det att se bra ut*/
main{
    text-align: left;
}

main, nav, header{ /*En gruppselektor*/
    margin-left: 5vw;
    margin-right: 5vw;
    background: white;

}
nav {
    background-color: slategray;
}
main > section > p {  /*En child selektor*/
    margin-left: 8vw;
    margin-right: 8vw;
}
main > section > ol{
    margin-left: 8vw;
}
h2{
    text-align:center;
}
img{
    margin:20px;
}
footer{
    color:white;
    padding-bottom: 4vh;
}
footer > section {
    margin-left: 15vw;
    margin-right: 15vw;

}
footer > section > ul{
    list-style-type:none;
    padding: 0;
}

table{
    border-collapse:collapse;
    margin-left: 8vw;
}
td, th{
    padding:14px;
}
main > section {
    margin-top: 5vh;
    margin-bottom: 10vh;
}

tr:nth-child(2n-1){
    background-color: pink;
}

tr:nth-child(2n){
    background-color: rosybrown;
}
a:hover{
    color: rgb(226, 111, 197);
}
th:hover, td:hover{ /*En typ, grupp och pseudo selektor*/
    background-color: yellow;
}
section > img {
    max-width: 100%;
    height: auto;

}